.bg-image-aboutus .text-content-help .text-heading-first{
        color:#fff;
        font-family: 'Inria Sans', sans-serif;
        font-size: 40px;
        font-weight: 400;
        text-align: left;
        padding: 200px 0px 0px 0px;
        margin-bottom: 0px;
   
}
.story-help {
    font-family: 'Dosis';
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    padding: 50px 0px;
    color: #000000;
}
.help-subtitle{
    font-family: 'Dosis';
    font-size: 24px;
    font-weight: 500;
    text-align: left;
    color: #000000;
}
.help-subtitle-para{
    color:#786f6f;
    font-size: 14px;
    font-family: 'Poppins';
    text-align: left;
}
/* bootstrap5 classes */
.help-container .accordion{
    --bs-accordion-active-color: var(--bs-primary-text-emphasis);
}

.accordion-button:focus {
    z-index: 3;
    outline: 0;  
    border: none;
    box-shadow: none;
}
.accordion-body {
    text-align: left;
}
.help-container .accordion-item{
    border:unset;
    
}
.help-container .accordion-item .accordion-header{
    border-bottom: 1px solid #D7D2BD;
}
.accordion-item .accordion-button{
    background: #fff;
    
}   
.help-container .accordion-button:not(.collapsed){
    /* color:#D7D2BD; */
    color:#ead4af;
}
/* ************************************************************************* */
.extra-charges{
    text-align: left;
    color:#CD9C7A;   
}
.extra-charges-flex .fa-arrow-down{
    color:#807d7c;
    font-size: 24px;
    text-align: right; 
}
.extra-charges-para{
    text-align: left;
    color:#807d7c;
    font-weight:lighter;
    font-family: 'Dosis';
}
.help-question-container{
    padding: 30px 0px 0px 0px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #D7D2BD;
    text-transform: capitalize;
}
.help-question-container p{
    font-weight: 40px;
    font-family: 'Dosis';
}
.help-question-container .fa-arrow-right{
    font-size: 24px;
 
}
.last-ques{
    padding: 0px 0px 120px 0px;
}
.answer-container{
    text-align: left;
    font-weight:lighter;
    font-family: 'Dosis';
    /* border-bottom: 1px solid #D7D2BD; */
}
.contact-container{
    padding: 40px 0px 0px 0px;
   

}
.contact-container p:nth-child(1){
    font-size: 20px;
    color: #dbdacd;
    text-align: left;
    /* rgb(182, 180, 146) */
}
.contact-container ul li{
    font-size: 16px;
    color: #dbdacd;
    text-align: left;
    
}
.contact-container .thankyou-title{
    padding: 20px 0px;
    text-align: center;
    font-size: 24px;
    /* color: #4530cf; */
}
@media (max-width:767px){
    .help-container .accordion-button:not(.collapsed) {
        color: #ead4af;
        font-size: 12px !important;
    }
    .accordion-body {
        color: gray;
        text-align: left;
        font-size: 12px !important;
    }
}