.home_slide_carousel #carouselExampleCaptions{
    height: 620px;
  }
  /* .home_slide_carousel .carousel-control-next, .carousel-control-prev{
 height:100%;
} */
 .home_slide_carousel .carousel-item {
    height: 620px; /* Default height */
  }
  .home_slide_carousel .carousel.inner{
    height: 620px;
  }

  .home_slide_carousel .carousel-item img {
    height: 620px;
    object-fit: cover; 
  }
  .home_slide_carousel  .btn-slide1 {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    font-size: larger;
    height: 50px;
    width: 150px;
    margin-bottom: 10px;
    margin-right: 20px;
  }
  .home_slide_carousel .btn-slide2 {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    font-size: larger;
    height: 50px;
    width: 150px;
    margin-bottom: 25px;
  }
  .home_slide_carousel .text-size{
    margin-bottom: 15px;
  }
  .home_slide_carousel  .text-h1{
    margin-bottom: 15px;
  }

  .home_slide_carousel .btn-slide1:hover {

    background-color: transparent !important;
}

.home_slide_carousel .btn-slide2:hover {
    background-color: darkblue !important;
}
.visually-show{
  font-size: 2rem;
}
.carousel-control-next:hover{
  background-color: rgb(201, 60, 60);
}
  
  
  /* Media queries for responsiveness */
  @media (min-width: 335px) and (max-width: 768px) {
    .home_slide_carousel #carouselExampleCaptions{
        height: 400px;
      }
      .home_slide_carousel .carousel-item {
      height: 400px;
      
    }

    .home_slide_carousel .carousel-control-next, .carousel-control-prev{
      height:30%;
     }
    .home_slide_carousel .btn-slide1 {
        color: white;
        border: 1px solid white;
        font-size: x-small;
        height: 40px;
        width: 100px;
        margin-bottom: 10px;
        margin-right: 5px;
      }
      
      .home_slide_carousel  .btn-slide2 {
        color: white;
        border: 1px solid white;
        margin-bottom: 5px;
        font-size: x-small;
        height: 40px;
        width: 100px;
      }
      
      .home_slide_carousel   .btn-slide1:hover {
        background-color: transparent !important;
    }
    
    .home_slide_carousel .btn-slide2:hover {
        background-color: darkblue !important;
    }
    .home_slide_carousel.text-size {
      font-size: smaller;
      margin-bottom: 2px;
    }
    
    .home_slide_carousel .text-h1 {
      font-size: 25px;
      margin-bottom: 2px;
    }
    
  }
  
  @media (min-width: 768px) and (max-width: 992px) {
    .home_slide_carousel #carouselExampleCaptions{
        height: 500px;
      }
      .home_slide_carousel  .carousel-item {
      height: 500px;
    }
    .home_slide_carousel .btn-slide1 {
        background-color: transparent;
        color: white;
        border: 1px solid white;
        margin-bottom: 15px;
        margin-right: 10px;
      }
      
      .home_slide_carousel .btn-slide2 {
        background-color: transparent;
        color: white;
        border: 1px solid white;
        margin-bottom: 15px;
      }
      
      .home_slide_carousel .btn-slide1:hover {
        background-color: transparent !important;
    }
    
    .home_slide_carousel .btn-slide2:hover {
        background-color: darkblue !important;
    }
    .home_slide_carousel .text-size{
      margin-bottom: 15px;
    }
    .home_slide_carousel .text-h1{
      margin-bottom: 10px;
    }
    .btn-slide1,
  .btn-slide2 {
    font-size: 18px; /* Increase font size for medium screens */
    padding: 12px 24px; /* Adjust padding as needed */
  }
  }
  
  /* Add more media queries as needed for larger screens */
  
  @media (min-width: 992px) and (max-width: 1199px) {
    .home_slide_carousel #carouselExampleCaptions{
        height: 620px;
      }
      .home_slide_carousel .carousel-item {
      height: 620px; 
/* Adjust height for large screens */
    }
    .home_slide_carousel .btn-slide1 {
        background-color: transparent;
        color: white;
        border: 1px solid white;
        margin-right: 20px;
      }
      
      .home_slide_carousel .btn-slide2 {
        background-color: transparent;
        color: white;
        border: 1px solid white;
        margin-bottom: 0px;
      }
      
      .home_slide_carousel .btn-slide1:hover {
        background-color: transparent !important;
    }
    
    .home_slide_carousel .btn-slide2:hover {
        background-color: darkblue !important;
    }
    .home_slide_carousel .text-size{
      margin-bottom: 10px;
    }
    /* .btn-slide1,
  .btn-slide2 {
    font-size: 18px; /* Increase font size for medium screens */
    /* padding: 12px 24px; /* Adjust padding as needed */
  /* }  */
  }
  

    
  @media (min-width: 1199px) and (max-width: 1600px) {
      .home_slide_carousel .carousel-item {
      height: 820px;
      /* Adjust height for large screens */
    }
    .home_slide_carousel .btn-slide1 {
        background-color: transparent;
        color: white;
        border: 1px solid white;
        margin-bottom: 30px;
        margin-right: 20px;
      }
      
      .home_slide_carousel .btn-slide2 {
        background-color: transparent;
        color: white;
        border: 1px solid white;
        margin-bottom: 0px;
      }
      
      .home_slide_carousel  .btn-slide1:hover {
        background-color: transparent !important;
    }
    
    .home_slide_carousel .btn-slide2:hover {
        background-color: darkblue !important;
    }
    .home_slide_carousel .text-size{
      margin-bottom: 20px;
    }
    .home_slide_carousel .text-h1{
      margin-bottom: 195px;
    }
  }
  