.signup-container{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif;
}
.signup-container .container .signup-logo-container {
    width: 180px;
    height: auto;
    padding: 30px 0px 60px 0px;
}

.signup-form {
    border: 1px solid #CACACA;
    font-family: "Inter", sans-serif;
    text-align: left;
    padding: 40px;
}
.signup-form .formtitle{
    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-weight: 600;
    color: #000000;
}
.signup-form .form-label {
    font-family: "Inter", sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 29px;
    color: #000000;
}

.signup-form input {
    border: 1px solid #D7D2BD !important;
    padding: 11px;
    border-radius: 1px;
}
.signup-form .termandcondition{
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    padding: 80px 0px 20px 0px;
    /* border: 1px solid red; */
}
.signup-form .termandcondition span{
    font-weight: 700;
}
.btn-create-acc{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    border-radius: 1px;
    background-color: #000000;
    cursor: pointer;
}
.signup-form .termandcondition {
    font-size: 14px;
    line-height: 20px;
    padding: 40px 0px 0px 0px;
}
button.mb-3.btn.btn-dark.btn-create-acc {
    width: 100%;
}
.form-label.label-padding{
    padding-top: 30px;
}
.btn-container-login button span{
    padding-left: 10px;
}
@media (max-width:767px){
    .signup-container .container .signup-logo-container {
        width: 160px;
        height: auto;
        padding: 30px 0px 30px 0px;
    }
    .signup-form {
        padding: 10px;
    }
    .signup-form .formtitle {
        font-size: 20px;
    }
    .signup-form .formtitle span {
        padding-left: 7px;
    }
    .signup-form .form-label {
        line-height: 18px;
        
    }
    .signup-form input {
        border: 1px solid #D7D2BD !important;
        padding: 10px;
        border-radius: 1px;
    }
    .form-label.label-padding{
        padding-top: 10px;
    }
    .btn-container-login button span{
        display: none;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
    .signup-container .container .signup-logo-container {
        width: 180px;
        padding: 30px 0px 30px 0px;
    }
    .signup-form .formtitle {
        font-size: 24px;
    }
    .signup-form {
        padding: 20px;
    }
    .form-label.label-padding {
        padding-top: 20px;
    }
    .signup-form .termandcondition {
        font-size: 15px;
        line-height: 22px;
        padding: 40px 0px 0px 0px;
    }
}